#caja{
    position: relative;
}
#cajero{
    
    position: absolute;
    top: 15px;
    left: 400px;
    right: 0;
    width: 100px;
    }

#Billetes1000{
    position:absolute;
    top: 0px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#Billetes500{
    position:absolute;
    top: 25px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#Billetes200{
    position:absolute;
    top: 50px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#Billetes100{
    position:absolute;
    top: 75px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#Billetes50{
    position:absolute;
    top: 100px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#Billetes20{
    position:absolute;
    top: 125px;
    left: 25px;
    right: 0;
    width: 100px;
    z-index: 1;
}

#info{ 
    position:absolute;
    top: 500px;
    left: 635px;
    right: 0;
    width: 100px;
    z-index: 1;
}
#Retirar{ 
    position:absolute;
    top: 30px;
    left: 40px;
    right: 0;
    width: 100px;
    z-index: 2;
}
#simular{
    position:absolute;
    top: 350px;
    left: 950px;
    right: 0;
    width: 100px;
    
}
#btnSimular{
padding: 10px; /*espacio alrededor texto*/
background-color: rgba(19, 31, 125, 0.615); /*color botón*/
color: #ffffff; /*color texto*/
text-transform: uppercase; /*capitalización texto*/
border-radius: 50px; /*bordes redondos*/
}
#btnRetirar{
    background-color: rgba(19, 31, 125, 0.615); /*color botón*/
    color: #ffffff; /*color texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 50px; /*bordes redondos*/
    }
body{
    background-color: rgba(19, 31, 125, 0.615);
}